<head>
  	<link rel="stylesheet"  href="{{ url_for('static', filename='css/main_register.css') }}">
</head>
<body>


{% extends "base_hr.html"%}
{%block content%}
<div class="main-w3layouts wrapper">
  <h1>Delete Employee</h1>
  <div class="main-agileinfo">
    <div class="agileits-top">
      <form method="post">
            {{form.hidden_tag()}}
          {{form.id.label}}
              {{form.id()}}
            {{form.submit()}}

          </form>
          </div>
          </div>
          </div>
          {% endblock%}
          </body>
